[Unit]
Description=Main VOST control software

[Service]
ExecStart = /usr/bin/ldms 
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
